input[type=number] {
    -moz-appearance: textfield;
}


.product-image-container img {
    display: block;
    object-fit: scale-down;
    width: 100%;
    max-height: 120px;
}



/* .price-cutoff-input {
    display: inline;
} */

.price-cutoff-btn {
    font-size:.8em; 
    width: 75px; 
    display: inline;
}

.price-cutoff-label {
    display: inline-block;
}

/* .product-name {
    align-self: center;
} */

#reminder_frequency {
    display: inline-block;
    margin: 0 .25em;
    appearance: none;
    max-height: 30px;
    max-width: 70px;
}

.account-info input {
    height: 2.1em;
}