{% extends "layout.html" %}

{% block content %}
<div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.url.label(class="form-label") }}

                {% if form.url.errors %}
                    {{ form.url(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.url.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>

                {% else %}
                    {{ form.url(class="form-control") }}
                {% endif %}

            </div>
            {{ form.price_cutoff.label(class="form-label") }}
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                </div>
                {% if form.price_cutoff.errors %}
                    {{ form.price_cutoff(class="form-control is-invalid", step="any") }}
                    <div class="invalid-feedback">
                        {% for error in form.price_cutoff.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.price_cutoff(class="form-control", step="any") }}
                {% endif %}
            </div>

        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-dark") }}
        </div>
    </form>
</div>
{% endblock %}